@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(https://fonts.gstatic.com/s/antic/v7/IVZiQl5Ww-TJ-PrbjA5gMKCWcynf_cDxXwCLxiixG1c.woff2) format('woff2'); }

@font-face {
  font-family: 'Antic Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Antic Slab'), local('AnticSlab-Regular'), url(https://fonts.gstatic.com/s/anticslab/v4/8c9q46CAcsp9TiRX9KLgZAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'); }

@font-face {
  font-family: 'Galdeano';
  font-style: normal;
  font-weight: 400;
  src: local('Galdeano Regular'), local('Galdeano-Regular'), url(https://fonts.gstatic.com/s/galdeano/v6/sNNdoZxHJuJuQ4ASrbgR4HYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'); }

@media screen and (max-width: 799px), (max-height: 599px) {
  .start-mobile-notice {
    display: block; } }

@media screen and (min-width: 800px) and (min-height: 600px) {
  .start-mobile-notice {
    display: none; } }

* {
  color: white;
  font-family: Antic, 'Antic Slab', Galdeano, sans-serif, serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: 500ms all ease; }

*:hover {
  transition: 500ms all ease; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: black; }

h1, h2, h3, h4, h5, h6, .button-start, .serif {
  font-family: Galdeano, 'Antic Slab', serif; }

a {
  border-left: .125rem rgba(255, 255, 255, 0) solid;
  border-right: .125rem rgba(255, 255, 255, 0) solid;
  text-decoration: none; }

a:hover {
  border-left-color: white;
  border-right-color: white;
  padding: 0 1em; }

.start-mobile-notice {
  margin: 1em;
  text-align: center; }

@media screen and (max-width: 799px), (max-height: 599px) {
  .start-cover {
    margin: 2em auto; }
  .start-menu {
    display: none; }
  .start-about {
    display: none; } }

.background {
  background: url('/res/images/night.jpeg');
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1; }

.start-cover {
  margin: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; }
  .start-cover h1 {
    display: inline-block;
    font-size: 8em;
    margin: 0;
    margin-top: 25vh; }

.button-start {
  color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  transition: 500ms all ease; }

.button-start:hover {
  color: white;
  cursor: pointer;
  transition: 500ms all ease; }

.button-start:after {
  color: rgba(255, 255, 255, 0);
  content: '\276F';
  margin-left: -.5em;
  transition: 500ms all ease; }

.button-start:hover::after {
  color: white;
  margin-left: .5em;
  transition: 500ms all ease; }

.button-start {
  border-bottom: .125rem rgba(255, 255, 255, 0) solid;
  font-size: 1.5em;
  padding: 1em 0;
  text-transform: uppercase; }

.button-start:hover {
  border-bottom-color: white;
  padding: 1em 2em; }

.start-about {
  margin-top: 100%;
  padding: 2em; }
  .start-about h1 {
    font-size: 4em;
    text-align: center; }
  .start-about p {
    text-align: center; }
  .start-about .start-about-team {
    padding: 1em;
    text-align: center; }
    .start-about .start-about-team li {
      list-style: none; }
    .start-about .start-about-team li:before {
      content: '\276F' ' ';
      margin-left: -0.5rem; }
    .start-about .start-about-team li:after {
      color: rgba(255, 255, 255, 0.75);
      content: ' ' attr(data-roles);
      display: block;
      margin-left: 0.25rem; }
